absl-py 
aiohappyeyeballs 
aiohttp 
aiosignal 
annotated-types
anthropic
anyio
appdirs 
astunparse 
async-timeout 
attrs 
blinker 
Brotli 
cached-property 
cachetools 
certifi 
cffi 
charset-normalizer 
click 
cohere
colorama
contourpy
cryptography 
cycler
distro
dnspython
email_validator
eval_type_backport
exceptiongroup
fastapi
fastapi-cli
fastavro
filelock
flatbuffers 
fonttools
frozenlist 
fsspec
gast 
google-auth
google-auth-oauthlib 
google-pasta 
griffe
groq
grpcio 
h11
h2 
h5py 
hpack 
httpcore
httptools
httpx
httpx-sse
huggingface-hub
hyperframe 
idna 
importlib_metadata 
importlib_resources
Jinja2
jiter
joblib 
jsonpath-python
keras 
Keras_Preprocessing 
kiwisolver
logfire-api
lxml 
Markdown 
markdown-it-py
MarkupSafe 
matplotlib
mdurl
mistralai
mpmath
multidict 
mypy-extensions
netifaces
networkx
numpy 
oauthlib 
openai
opt_einsum 
packaging 
pillow
propcache 
protobuf
psutil
pyasn1 
pyasn1_modules 
pycparser 
pydantic
pydantic-ai
pydantic-ai-slim
pydantic-graph
pydantic_core
Pygments
PyJWT 
pyOpenSSL 
pyparsing
pyshark 
PySocks 
python-dateutil
python-dotenv
python-multipart
pyu2f 
PyYAML
regex
requests 
requests-oauthlib 
rich
rich-toolkit
rsa 
safetensors
scapy
scikit-learn 
scipy 
shellingham
six 
sniffio
starlette
sympy
tensorboard 
tensorboard-data-server 
tensorboard-plugin-wit 
tensorflow 
tensorflow-estimator 
termcolor 
threadpoolctl 
tokenizers
torch
tqdm
transformers
typer
types-requests
typing-inspect
typing_extensions 
urllib3 
uvicorn
watchfiles
websockets
Werkzeug 
wrapt 
yarl 
zipp 
zstandard